<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/index.html" method="post" id="form">
        <label>email</label>
        <input type="email" name="email" >
        <label>password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
    <script src="js/login.js"></script>
</body>
</html>
